
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estoque</title>
</head>
<body>
    <form>
        <div class="form-group">
            <label for="nomePrato">Selecione o Fornecedor</label><br />
            <select id=cbforn>
                <option>Fornecedor</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>

        </div>

        <div class="form-group">
            <label for="nomePrato">Selecione o item</label><br />
            <select id=cbforn>
                <option>Item</option>
                <option>sushi</option>
                <option>seila</option>
                <option>temaki</option>
            </select>
        </div>

        <div class="form-group">
            <label for="precoPrato">Preço unitário</label><br />
            <input type="text" />
        </div>

        <div class="form-group">
            <label for="qtdForn">Quantidade</label><br />
            <input type="number" />
        </div>

        @Html.ActionLink("Registrar", "TelaAdm", "Home", new { id = 4 }, new { @class = "btn btn-outline-warning" })
    </form>
</body>
</html>
