
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")


</head>
<body>
    <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Yutaho Bar</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>


                <!-- Dropdown w3school -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Linguagem
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Português</a>
                        <a class="dropdown-item" href="#">Inglês</a>
                    </div>

                    <!-- Barra de pesquisa, esta com erro para deixar responsivel no "px" -->
                    <form class="form-inline" action="/action_page.php" style="margin-left: 800px; margin-top:-35px; ">
                        @Html.ActionLink("Login", "TelaLogin", "Home", new { id = 3 }, new { @class = "btn btn-outline-warning" })
                    </form>

                </li>
            </ul>
        </div>
    </nav>
    <br /><br /><br />
                <div class="item">
                    <img src="~/Models/Sushi2.jpg" style="width:100%; margin-top:-25%; opacity:0.9" />
                    <div class="carousel-caption">
                        
                            <h1 class="display-4" style="margin-top:-37%; color:darkkhaki; ">Seja, Bem Vindo!</h1>                                              
                    
                </div>
                </div>
    <br/><br />
    
    <div style="max-width:65%; margin-left:18.5%">
        <p class="text-center">A Mochissimo pretende encantar o paladar dos brasileiros com sorvete de mochi. A massa que cobre o sorvete é puxa puxa por fora e é recheada com um delicioso sorvete italiano artesanal. Delicie-se e experimente essa novidade feita com muita dedicação e amor.</p>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

</html>
