@model MeuWebSite.Models.Pessoa
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TelaLogin</title>
    @Styles.Render("~/Content/css")
</head>
<body>

<h3>Tela em que o Administrador ira utilizar</h3>

</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</html>


